html,
body,
.root {
  height: 100%;
  width: 100%;
}
.row {
  margin: 0;
  padding: 0;
}

.app {
  margin: 0 auto;
  align-items: center;
  padding: auto 35%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    margin-bottom: 100%;
  }
  .app {
    height: 90%;
  }
  .game {
    margin-bottom: 30px;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 600px) {
  body {
    margin-bottom: 40%;
  }
  .game {
    max-height: 65vh;
    display: flex;
    flex-direction: column;
  }
}
.line {
  padding: auto 15%;
  margin-top: 5px;
}

.box {
  height: 75px;
  width: 75px;
  margin: auto 1%;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.won {
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  margin: 20px 5% 20px;
}
.copy {
  background-color: lightgreen;
  margin-bottom: 10px;
  color: black;
}

.keys {
  position: fixed;
  display: flex;
  bottom: 10px;
  height: 15%;
}
.key {
  width: 8%;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 1%;
  height: 50px;
  text-align: center;
}
.key2 {
  width: 48%;
  margin: 1%;
  border: 1px solid #000;
  border-radius: 5px;
  height: 50px;
  text-align: center;
  background-color: lightgray;
}
.backspace {
  position: relative;
  top: 5px;
}